* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background-image: url('./assets/img/gory_les_zvezdnoe_nebo_201686_1920x1080.jpg');
  width: 1440px;
  height: 500px;
}

.foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}
.foto h1 {
  padding: 30px 0;
  font-size: 40px;
  font-weight: 300;
  color: white;
}

header img {
  width: 250px;
  height: 250px;
  border-radius: 150px;
}

.info {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
.about-me {
  display: flex;
}
.info section {
  padding: 40px;
}

.goals,
.name,
.data,
.header-nav {
  color: white;
}

.name h2,
.goals h2 {
  font-size: 40px;
}

.name ul,
.goals ul,
.data ul,
.header-nav ul {
  font-size: 25px;
}

.about-me ul,
.header-nav ul {
  list-style-type: none;
}

.data {
  padding-top: 105px !important;
}

.line {
  position: absolute;
  top: 210px;
  width: 640px;
  height: 1px;
  background-color: white;
}

.black {
  background-color: black;
  width: 1280px;
  height: 3px;
  left: -35px;
  top: 168px;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  width: 300px;
  height: 460px;
  border: 1px solid white;
}

.header-nav ul li {
  padding-bottom: 50px;
}

main {
  display: flex;
  align-content: flex-start;
  margin: 0 auto;
  width: 1434px;
  /* height: 500px; */
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid black;
}

main ul {
  list-style-type: none;
  font-size: 25px;
}

main h2 {
  font-size: 30px;
  color: lightseagreen;
}

main section {
  padding: 50px 0 0 0;
  width: 500px;
  margin: 10px;
}

main img {
  width: 30px;
  height: 30px;
}

.education,
.skills {
  position: relative;
}

.skills .black {
  top: 250px;
}
